body {
    background-color: #ffffff;
    font-family: manrope;
}

.menu {
    background-color: #343434;
    height: 80px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:baseline;
    padding-left: 20px;
}
.logo{
    height: 60px;
    margin-left: 20px;
}
.nav{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:right;
    margin-right: 60px;
}
.nav-button{
    padding: 30px 20px 30px 20px;
    text-align: right;
}
.slide{
    height: auto;
    background-image:url('img/bgslide.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-text{
    width: 1084px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: auto;
}
.textonbg{
    color: white;
    text-align: center;
    font-family: manrope;
    font-size: 25px;
}
.greenbutton{
    background-color: #019F45;
    color: white;
    background-size: auto;
    padding: 12px 24px 12px 24px;
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}
a{
    font-family:Manrope;
    color: white;
    font-size: 12pt;
    text-align: left;
    text-decoration: none;

}
p{
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    word-spacing: 2px;
}
h1{
    margin: 0;
    margin-bottom: 30px;
}
h2{
    margin: 0;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.intro{
    background-color: white;
    margin: auto;
    height: auto;
    padding: 80px 80px;
}
.intro-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1280px;

}
.intro-text{
text-align: left;
margin: auto;
}
.right-ilu{
    margin-left: 50px;
}
.product{
    background-color: white;
    margin: auto;
    height: auto;
    padding: 80px 80px;
}
.product-swipe{
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.product-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 416px;
    border-radius: 10px;
    height: 100%;
}
.product-text{
    margin:20px;
}
.small-title{
    font-family: manrope;
    font-size: 20px;
    font-weight: bold;
}
.environment{
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.environment-text{
    background-image:url('img/environment-frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 40px 80px;
}
.environment-box{
    margin: auto;
    width: 646px;
   
}
.galary{
    margin: auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.galary-text{
   margin: auto;
   width: 594px;
   display: flex;
   flex-direction: column;
}
.galary-img{
    margin: auto;
}
.partner{
    margin: auto;
    padding: 50px;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#F5FFFE,#FFFDF9,#F2FFEB);
}
.logo-list{
    padding-top: 40px;
    height: auto;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    filter: grayscale(100%);
}
.charity{
    padding: 50px;
    background-color: white;
}
.photos{
    margin: auto;
    width: 1440px;
    padding-top: 20px;
    height: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.photos12fr{
    margin: auto;
    width: 1440px;
    padding-top: 20px;
    height: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
}
.stories{
    padding: 80px 72px;
    background-color: white;
    margin: auto;
}
.stories-photo{
    padding-top: 16px;
    margin: auto;
    width: 1296px;
    height: auto;
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
footer{
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: #343434;
    color: white;
}
.information{
    width: 1296px;
    margin: auto;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:space-between;
    justify-items: center;
    margin-bottom: 30px;
}

.line {
    border-bottom: 0.5px solid white;
  }