.container {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto; /** center **/
}
.container-full {
    width: 100%;
}
body {
    background-color: #ffffff;
    font-family: manrope;
}
.display-flex {
    display: flex;
    align-items: center;
}
.flex-column{
    flex-direction: column;
    justify-content: center;
}
.display-grid {
    display: grid;
}
.textonbg{
    color: white;
}
h1{
    font-size: 60px;
    line-height: 0.5;
}
h2{
    font-size: 50px;
    text-align: center;
}
h5{
    font-size: 13px;
}
a{
    font-size: 12pt;
    text-align: left;
    text-decoration: none;
    color: white;
}
p{
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    word-spacing: 2px;
}
img{
    width: 100%;
}
.menu {
    background-color: #343434;
    height: 80px;
    justify-content:baseline;
    padding-left: 20px;
}
.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
.nav{
    height: 80px;
    width: 100%;
    justify-content:right;
    margin-right: 60px;
}
.nav-button{
    padding: 30px 20px 30px 20px;
    text-align: right;
}
.slide{
    background-image:url('img/bgslide.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
}
.greenbutton{
    background-color: #019F45;
    background-size: auto;
    padding: 12px 24px 12px 24px;
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
}

.intro{
    background-image:url('img/gridbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
}
.intro-content{
    justify-content: space-evenly;
}
.product{
    height: auto;
    padding: 80px 80px;
}
.product-swipe{
    justify-content: space-between;
}
.product-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 416px;
    border-radius: 10px;
    height: 100%;
}
.product-text{
    margin:20px;
}

.environment{
    background-image:url('img/environment.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 813px;
    justify-content:flex-end;
}
.environment-text{
    background-image:url('img/environment-frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    justify-content: center;
}
.environment-box{
    margin: auto;
    width: 646px;
   
}
.two-col-left,.two-col-right{
    flex: 0 0 50%;
}
.p-5{
    padding: 5px;
}
.p-20{
    padding:20px;
}
.p-50{
    padding: 50px;
}
.partner{
    height: auto;
    background-image: linear-gradient(to bottom right,#F5FFFE,#FFFDF9,#F2FFEB);
}
.logo-list{
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    filter: grayscale(100%);
}
.photos{
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
}
.stories{
    padding: 80px 72px;
}
.stories-photo{
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
footer{
    background-color: #343434;
    color: white;
}
.information{
    justify-content: space-between;
    line-height: 2;
}
.social{
    column-gap: 10px;
    align-items: flex-start;
}
.line {
    border-bottom: 0.5px solid white;
  }


   /* Tablets and smaller (≤ 767px) */
   @media (max-width: 800px) {
h1{
        line-height: 1;
    }
.slide800{
    text-align: center;
}
   }